.hero {
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;

  background: #050816;

  position: relative;

  overflow: hidden;
}

.hero::before {
  content: "";

  position: absolute;

  width: 700px;

  height: 700px;

  background: radial-gradient(circle, rgba(139, 92, 246, 0.25), transparent);

  filter: blur(80px);

  animation: blob 8s infinite;
}

@keyframes blob {
  50% {
    transform: scale(1.2);
  }
}

.hero-content {
  position: relative;

  z-index: 10;

  max-width: 900px;
}

.hello {
  color: #b0b8d1;

  font-size: 22px;
}

.hero h1 {
  font-size: 80px;

  margin: 20px 0;

  background: linear-gradient(90deg, #3b82f6, #8b5cf6);

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.hero h2 {
  color: white;

  font-size: 36px;

  margin-bottom: 25px;
}

.hero p {
  color: #b0b8d1;

  font-size: 20px;

  line-height: 1.8;
}

.hero-buttons {
  margin-top: 45px;

  display: flex;

  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;
}

.primary,
.secondary {
  padding: 15px 34px;

  border-radius: 40px;

  cursor: pointer;

  transition: 0.3s;

  font-size: 16px;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
}

.primary {
  border: none;

  color: white;

  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
}

.primary:hover {
  transform: translateY(-5px);
}

.secondary {
  background: transparent;

  color: rgb(253, 252, 252);

  border: 1px solid rgba(255, 255, 255, 0.2);
}

.secondary:hover {
  background: rgba(255, 255, 255, 0.08);
}
