$bg-color: #050816;
$secondary-bg: #0f172a;

$primary: #3b82f6;
$accent: #8b5cf6;

$text: #ffffff;
$text-light: #b0b8d1;

$glass: rgba(255, 255, 255, 0.08);

$border: rgba(255, 255, 255, 0.15);

$shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

$transition: all 0.3s ease;
